// background
.bg-primary-1{
    background-color: $primary-1;
}
.bg-light-grey{
    background-color: $light-grey;
}

// text
.text-grey{
    color: $grey !important;
}
.text-danger{
    color: $danger !important;
}
.text-primary-1{
    color: $primary-1 !important;
}

// border