// font size
.fs-1{
    font-size: 16px !important;
}
.fs-2{
    font-size: 18px !important;
}
.fs-3{
    font-size: 20px !important;
}
.fs-4{
    font-size: 22px !important;
}
.fs-5{
    font-size: 24px !important;
}
.fs-6{
    font-size: 28px !important;
}
.fs-7{
    font-size: 32px !important;
}

//font weight
.fw-1{
    font-weight: 300 !important;   
}
.fw-2{
    font-weight: 400 !important;   
}
.fw-3{
    font-weight: 500 !important;   
}
.fw-4{
    font-weight: 600 !important;   
}
.fw-5{
    font-weight: 700 !important;   
}